:root {
  --secondary: rgba(0, 0, 0, 0.7);
}

.App {
  font-family: Roboto, sans-serif;
  text-align: center;
}

body {
  background-color: whitesmoke;
}

.container {
  padding: 8rem;
  max-width: 600px;
  margin: auto;
  text-align: left;
}

.catergory {
  text-align: left;
  width: 100%;
}

.catergory-btn {
  font-weight: bold;
  font-size: 0.8rem;
  padding: 0.6rem;
  background-color: white;
  border: 1px solid var(--secondary);
  border-radius: 0.2rem;
  margin-right: 0.8rem;
  color: var(--secondary);
}

.book-list {
  list-style: none;
  padding-left: 0px;
}

.book {
  background-color: white;
  border: 1px solid var(--secondary);
  padding: 0.7rem;
  margin: 1rem 1rem 1rem 0rem;
  border-radius: 0.4rem;
  width: 65%;
  color: var(--secondary);
}

.book-rating {
  font-size: 1rem;
  font-weight: bold;
}
